.app {
  max-width: 600px;
  width: 100%;
}

.app-input {
  resize: none;
  border: none;
  width: 300px;
  height: 100px;

  @media(max-width: 645px) {
    width: 100%;
  }
}

.grid-row {
  display: flex;
  width: 100%;

  @media(max-width: 645px) {
    display: block;
  }
}

.grid-row-2 {
  flex-direction: row-reverse;
}

.grid-col-main,
.grid-col-side {
  @media(min-width: 646px) {
    padding: 0 15px;
  }
}

.grid-col-main {
  flex-basis: 100% / 3 * 2;
}

.grid-col-side {
  flex-basis: 100% / 3;
}

.search-type-selection {
  padding: 20px 0;

  @media(max-width: 645px) {
    display: flex;
  }

  label {
    display: block;

    @media(max-width: 645px) {
      flex-basis: 50%;
    }
  }
}